#containerMan {
    margin-top: 75px;
    display: flex;
}

#containerFiltr {
    margin-left: 25px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    width: 22%;
    text-align: center;
    box-shadow: 1px 0px 0px #777;
    height: 950px;
}

#filtry {
    font-size: 24px;
}
#selectContainer {
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 250px;
    height: 50px;
    padding-bottom: 20px;

}

select {
    width: 80%;
    height: 50px;
    outline: 0;
    border: 0;
    border-bottom: 1px solid black;
}

select:focus {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.5s;
}

label {
    margin-bottom: 5px;
}

#rangeContainer {
    margin-left: 35px;
    margin-right: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#rangeDesc {
    margin-top: 0px;
    font-size: 16px;
}

#price-input {
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
}

#field {
    height: 45px;
    display: flex;
    align-items: center;
}
#field input{
    width:100%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    outline: none;
}
#separator{
    display:flex;
    align-items: center;
    width: 130px;
    justify-content: center;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
#buttonFiltr{
    margin-top: 25px;
    margin-left: 65px;
    margin-right: 65px;
    outline: 0;
    border: 1px solid black;
    color: black;
    background-color: white;
    letter-spacing: 1px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 25px;
    font-size: 18px;
}
#buttonFiltr:hover{
    cursor: pointer;
    border: 1px solid white;
    background-color: black;
    color: white;
    transition: 0.5s;
}
#resetFiltr{
    margin-top: 25px;
    margin-left: 65px;
    margin-right: 65px;
    outline: 0;
    border: 1px solid black;
    color: black;
    background-color: white;
    letter-spacing: 1px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 25px;
    font-size: 18px;
}
#resetFiltr:hover{
    cursor: pointer;
    border: 1px solid white;
    background-color: black;
    color: white;
    transition: 0.5s;
}
#clothes {
    width: 75%;

}

#productContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#productCard {
    margin-left: 25px;
    display: flex;
    margin-bottom: 25px;
    padding: 25px;
    border-bottom: 1px solid black;
}

#productCard:hover {
    box-shadow: 0px 0px 3px;
    transition: 0.5s;
}

#productCard p {
    flex-direction: column;
}

#nameProduct {
    margin-left: 45px;
    font-size: 48px;
    font-weight: 400;
}

#productRight {
    width: 100%;
}

#descriptionProduct {
    padding-left: 45px;
    padding-right: 45px;
}

#sizeProduct {
    margin-top: 65px;
    text-align: center;
}

#costProduct {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-right: 70px;
    float: right;
}

.addToCart {
    clear: both;
    margin-bottom: 40px;
    margin-right: 50px;
    font-size: 24px;
    background-color: white;
    color: BLACK;
    border: 0;
    outline: 0;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid black;
    float: right;
    justify-content: flex-end;
}

.addToCart i {
    margin-right: 5px;
}

.addToCart:hover {
    color: green;
    border: 1px solid green;
    transition: 0.9s;
    cursor: pointer;
}

#productPhoto {
    width: 592px;
    height: 592px;
}

#countProduct {
    text-align: center;
}